!!!
%html
  %head
    %title GameDesign.io
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header.navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to 'GameDesign.io', root_path, :class => 'brand'
    .container-fluid
      .row-fluid
        = yield
